body{
    font-family: Calibri;
}
.cabecera{
    font-family: Segoe UI, Segoe, Optima, Candara, Calibri, Arial, sans-serif;
    text-align: center;
}
h1{
    color:#B72304;
    font-size: 3em;
    letter-spacing: 0.3em;
    word-spacing: 1.0em;
}
.marco{
    border-radius: 24px;
    border:3px solid darkblue;
    width: 50%;
    margin-left: 25%;
}
.leyenda{
    color:orange;
    font-weight: bold;
}
.check{
    text-align: center;
}
.btnCentrar{
    text-align: center;
}
.btnRegistrar{
    width: 70px;
    height: 30px;
}
.btnLimpiar{
    width: 60px;
    height: 30px;
    margin-left: 10px;
}
.colorInput:focus{
    background-color: #FEF9E7;
    border: 2px solid black;
}
.flota{
    float:left;
}
.flota2{
    
    left: 49%;
}
#nom{
    margin-left: 152px;
    border: 1px solid black;
}
#ape1{
    margin-left: 102px;
    border: 1px solid black;
}
#ape2{
    margin-left: 91px;
    border: 1px solid black;
}
#fech{
    margin-left: 69px;
    width: 130px;
    border: 1px solid black;
}
#paises{
    margin-left: 69px;
    width: 280px;
    border: 1px solid black;
}
#dir{
    margin-left: 33px;
    width: 285px;
    border: 1px solid black;
}
#loc{
    margin-left: 33px;
    width: 285px;
    border: 1px solid black;
}
#codP{
    margin-left: 50px;
    border: 1px solid black;
}
#prov{
    margin-left: 79px;
    border: 1px solid black;
    width: 165px;
}
#tlf{
    margin-left: 152px;
    border: 1px solid black;
}
#mov{
    margin-left: 171px;
    border: 1px solid black;
}
#eml{
    margin-left: 168px;
    border: 1px solid black;
}
.negrita{
    font-weight: bold;
}